<footer class="footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <h2 class="footer-heading">Ezio Infotech</h2>
                <p>Success is no accident. It is hard work,
                    perseverance, learning, studying, sacrifice and
                    most of all, love of what you are doing or
                    learning to do.</p>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
                    <li class=""><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li class=""><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li class=""><a href="#"><span class="fa fa-instagram"></span></a></li>
                </ul>
            </div>
            
            <div class="col-md-6 col-lg-4 pl-lg-5 mb-4 mb-md-0">
                <h2 class="footer-heading">Quick Links</h2>
                <ul class="list-unstyled">
                    <li><a routerLink="/home" class="py-1 d-block">Home</a></li>
                    <li><a routerLink="/about" class="py-1 d-block">About</a></li>
                    <li><a routerLink="/service" class="py-1 d-block">Services</a></li>
                    <li><a routerLink="/product" class="py-1 d-block">Product</a></li>
                    <li><a routerLink="/team" class="py-1 d-block">Team</a></li>
                    <li><a routerLink="/contact" class="py-1 d-block">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <h2 class="footer-heading">Have a Questions?</h2>
                <div class="block-23 mb-3">
                    <ul>
                        <li><span class="icon fa fa-map-marker"></span><span class="text">FIRST FLOOR, SUVARNDIP, SECTOR 26, PLOT NO. 189, NEAR BIG INDIA CHOWK, NIGDI, PUNE, MAHARASHTRA 411044</span></li>
                        <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+91 99605 88439</span></a></li>
                        <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                                    class="text">ravindra.chaudhari@ezioinfotech.com</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">

                <p class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright ©
                    <script>document.write(new Date().getFullYear());</script>2024 All rights reserved | Designed By
                     <a href="#"
                        target="_blank">Ezio Infotech Pvt.Ltd</a>
                </p>
            </div>
        </div>
    </div>
</footer>