<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light navbar1"
  [class.scrolled]="isScrolled" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand"><img src="../../assets/images/elogo.png" style="width: 40%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item "><a routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
        <li class="nav-item active"><a routerLink="/service" class="nav-link">Services</a></li>
        <li class="nav-item"><a routerLink="/product" class="nav-link">Product</a></li>
        <li class="nav-item"><a routerLink="/team" class="nav-link">Team</a></li>
        <li class="nav-item"><a routerLink="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a routerLink="/career" class="nav-link">Career</a></li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
  <!-- END nav -->
  <div class="hero-wrap js-fullheight"
  style="background-image: url(&quot;../../assets/images/img1.jpg&quot;); height: 600px; background-position: 50% 0%;"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
      data-scrollax-parent="true" style="height: 600px;">
      <div class="col-md-6" data-aos="zoom-in">
        <h2 class="subheading">we</h2>
        <h1 class="mb-4" style="color: #7ef399; font-size: 70px;">EZIO INFOTECH</h1>
        <h2 class="mb-4" style="color: #ffffff;">You can fly high like an eagle with us..</h2>
      </div>
    </div>
  </div>
</div>
  
<section class="ftco-section" data-aos="zoom-in-up">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ">
        <h2>Services</h2>
        <p class="lead">We specialize in providing customized software development services for startups, small to
          mid-size and enterprise size businesses..</p>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-6 col-lg-4 services" data-aos="zoom-out" *ngFor="let item of getservice; let i = index" >
          <div class="d-block d-flex" [ngClass]="colors[i % colors.length]" style="height: 200px; margin: 3px;">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="{{item.fa_logo}}"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">{{item.tittle}}
              </h3>
              <p>{{item.discription}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
  <app-footer></app-footer>

