<!-- partial:partials/_navbar.html -->
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex align-items-center">
      <a class="navbar-brand brand-logo" href="index.html">
        <img src="../../assets/images/elogo.png" alt="logo" class="logo-dark">
        <i style="color: #7ef399; font-weight: 500;">EZIO INFOTECH</i>
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1 btn">
      <i class="fa fa-home nav-link"></i><i>Home</i>
      <ul class="navbar-nav navbar-nav-right ml-auto edit-nav">
        <i class="fa fa-arrows-alt" (click)="toggleFullScreen()"></i>
        <i class="fa fa-sign-out hover-effect" (click)="logout()"></i>
      </ul>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <a href="#" class="nav-link">
            <div class="profile-image">
              <img class="img-xs rounded-circle" src="../../assets/images/person_2.jpg" alt="profile image">
            </div>
            <div class="text-wrapper">
              <p class="profile-name">Allen Moreno</p>
              <p class="designation">Administrator</p>
            </div>
  
          </a>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link btn" [routerLink]="'/dashbord'">Dashboard</span>
        </li>
        <li class="nav-item">
          <a class="nav-link fa fa-briefcase" [routerLink]="'/user-works'">
            <span class="menu-title" style="margin-left: 10px;">Work</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fa fa-server" [routerLink]="'/user-service'">
            <span class="menu-title" style="margin-left: 10px;">Service</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fa fa-users" data-bs-toggle="collapse" data-bs-target="#home-collapse"
                    aria-expanded="false">
                    <span class="menu-title" style="margin-left: 10px;">Teams</span>
                    <span class="fa fa-angle-down" style="margin-left: 100px;"></span>
                </a>
          <div class="collapse" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small nav-item">
              <li><a [routerLink]="'/user-employee'" class="text-white">Employee photo</a></li>
              <li><a [routerLink]="'/user-team'" class="text-white">Group photo</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link fa fa-server" [routerLink]="'/user-career'">
              <span class="menu-title" style="margin-left: 10px;" >Career</span>
          </a>
      </li>
        <li class="nav-item active">
          <a class="nav-link fa fa-address-card" [routerLink]="'/client-review'">
            <span class="menu-title" style="margin-left: 10px;">Client Review</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fa fa-product-hunt" [routerLink]="'/user-product'">
            <span class="menu-title" style="margin-left: 10px;">Product</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fa fa-newspaper-o" [routerLink]="'/user-blog'">
              <span class="menu-title" style="margin-left: 10px;">Blog</span>
          </a>
      </li>
  
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="card-body">
  
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addworks">
                  Add Client review
                </button>
  
                <div class="modal fade" id="addworks" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Client Review Modal</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form class="forms-sample" #clientForm="ngForm" (submit)="addclient(clientForm)"
                          enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="">Client Name<span>*</span></label>
                            <input type="text" class="form-control" [(ngModel)]="client.comName"  name="comName"
                              placeholder="Enter a Comapny Name" [required]="true">
                              <small
                              *ngIf="clientForm.controls['comName'].errors?.['required'] && clientForm.controls['comName'].touched"
                              class="required">
                              Client name is required.
                            </small>
                          </div>
                          <div class="form-group">
                            <label for="">Project Name<span>*</span></label>
                            <input type="text" class="form-control" [(ngModel)]="client.tittle"  name="tittle"
                              placeholder="Enter a Project Name" [required]="true">
                              <small
                              *ngIf="clientForm.controls['tittle'].errors?.['required'] && clientForm.controls['tittle'].touched"
                              class="required">
                              Project name is required.
                            </small>
                          </div>
                          <div class="form-group">
                            <label for="">Description<span>*</span></label>
                            <textarea class="form-control" 
                              placeholder="Enter a Description" [(ngModel)]="client.discription" name="discription" rows="4" cols="50" [required]="true"></textarea>
                              <small
                              *ngIf="clientForm.controls['discription'].errors?.['required'] && clientForm.controls['discription'].touched"
                              class="required">
                              Description is required.
                            </small>
                          </div>
                          <div class="form-group">
                            <label for="">Image<span>*</span></label>
                            <input type="file" class="form-control" (change)="handleFileInput($event)" name="img" required>
                            <small *ngIf="!isFileSelected()" class="text-danger">Please select a file</small>
                          </div>
                          <button type="submit" class="btn btn-primary mr-2" data-bs-dismiss="modal"
                          [disabled]="!clientForm.valid || !isFileSelected()">Submit</button>
                        </form>
  
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Company Name</th>
                      <th>Project Name</th>
                      <th>Discription</th>
                      <th>Image </th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of getClient">
                      <td>{{item.comName}}</td>
                      <td>{{item.tittle}}</td>
                      <td>{{item.discription}}</td>
                      <td><img [src]="getBase64Image(item.img)" alt=""
                          style="width: 100px; border-radius: 10%; height: 100%;"></td>
                      <td><button class="btn-success" data-bs-toggle="modal" data-bs-target="#addeditworks" (click)="getClientbyId(item.id)" ><i
                            class="fa fa-edit" aria-hidden="true" ></i>
                        </button> <button class="btn-danger" (click)="deleteclient(item.id)"><i class="fa fa-trash" aria-hidden="true"></i>
                        </button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="addeditworks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Client Review Edit Modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
  
                <form class="forms-sample" #workclientForm="ngForm" (submit)="updateclient(workclientForm)"
                          enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="">Client Name</label>
                            <input type="text" class="form-control" [(ngModel)]="clientid.comName"  name="comName"
                              placeholder="Enter a Comapny Name">
                          </div>
                          <div class="form-group">
                            <label for="">Project Name</label>
                            <input type="text" class="form-control" [(ngModel)]="clientid.tittle"  name="tittle"
                              placeholder="Enter a Project Name">
                          </div>
                          <div class="form-group">
                            <label for="">Description</label>
                            <textarea class="form-control" 
                              placeholder="Enter a Description" [(ngModel)]="clientid.discription" name="discription" rows="4" cols="50"></textarea>
                          </div>
                          <div class="form-group relative">
                            <label for="">Image</label>
                            <img *ngIf="clientid.img" [src]="getBase64Image(clientid.img)" alt="Image" class="updateimg">
                            <input type="file" class="form-control" (change)="handleFileInput($event)" name="img">
                          </div>
                          <button type="submit" class="btn btn-primary mr-2" data-bs-dismiss="modal">Submit</button>
                        </form>
              
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Copyright © 2023 <a
              href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Ezio Infotech.</a> All rights
            reserved.</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->