<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light navbar1"
  [class.scrolled]="isScrolled" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand"><img src="../../assets/images/elogo.png" style="width: 40%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLink="/service" class="nav-link">Services</a></li>
        <li class="nav-item"><a routerLink="/product" class="nav-link">Product</a></li>
        <li class="nav-item"><a routerLink="/team" class="nav-link">Team</a></li>
        <li class="nav-item"><a routerLink="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a routerLink="/career" class="nav-link">Career</a></li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- END nav -->
<div class="hero-wrap js-fullheight"
  style="background-image: url(&quot;../../assets/images/img1.jpg&quot;); height: 600px; background-position: 50% 0%;"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
      data-scrollax-parent="true" style="height: 600px;">
      <div class="col-md-6" data-aos="zoom-in">
        <h2 class="subheading">we</h2>
        <h1 class="mb-4" style="color: #7ef399; font-size: 70px;">EZIO INFOTECH</h1>
        <h2 class="mb-4" style="color: #ffffff;">You can fly high like an eagle with us..</h2>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section ftco-no-pt ftco-no-pb" style="margin-top: 50px;" data-aos="fade-up">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 d-flex">
        <div class="img d-flex align-items-center justify-content-center py-5 py-md-0"
          style="background-image:url(../../assets/images/elogo.png);">

        </div>
      </div>
      <div class="col-md-6 pl-md-5 pt-md-5">
        <div class="row justify-content-start py-5">
          <div class="col-md-12 heading-section">
            <span class="subheading">Welcome to Ezio Infotech</span>
            <h2 class="mb-4">Let's Joint with us</h2>
            <p>At Ezio Infotech, we develop innovative and creative software and application that provide total client
              Satisfaction and information solutions.We belive on quality of work. Ezio Infotech Pvt Ltd is a global
              IT solutions company established in Jan 2022.</p>
            <p>We provide improved software and web application development with completely customizable solutions to
              create your website. We make it our business to first completely understand your approach and vision
              towards your products, your customers, your business processes and then bring a comprehensive and
              innovative e commerce solution customized to your business requirements at inexpensive rates.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <div class="row ftco-counter py-5" id="section-counter">
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap">
            <div class="block-18">
              <div class="text">
                <strong class="number" #counter1>1</strong>
              </div>
              <div class="text">
                <span>Years of <br>Experienced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="text">
                <strong class="number" #counter>1</strong>
              </div>
              <div class="text">
                <span>Happy <br>Customers</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="text">
                <strong class="number" #counter2>1</strong>
              </div>
              <div class="text">
                <span>Total <br>Project</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="row align-items-center" >
          <div class="col-lg-6" data-aos="fade-up">
            <div class="feature-widget text-center p-4 position-relative rounded-custom shadow bg-warning">
              <div>
                <h3>Vision</h3>
              </div>
              <div class="widget-text" style="padding-bottom: 100px;">
                <p class="mb-0">Our Mission is to achieve our goal
                  by providing distinguished software
                  services in the global markets by
                  constant Innovation in Technology
                  and our business opportunities.  
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 " data-aos="fade-up">
            <div class="feature-widget text-center p-4 position-relative rounded-custom shadow bg-warning">
              <div>
                <h3>Mission</h3>
              </div>
              <div class="widget-text">
                <p class="mb-0">Providing all type of effective software
                  solutions to all kind of organization with the
                  latest technology adopted
                  Constant improvement and to be a leading
                  performer in the adopted services.
                  Making user friendly & customizable
                  application to get the desired output.
                  Getting the Valued customers and keep
                  continuing serving them.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section class="ftco-section" data-aos="zoom-in-up">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ">
        <h2>How We Works</h2>
      </div>
      <p class="lead">We are a leading Mobile App and Web
        Development Company, and we offer highly
        interactive software that leads you in getting
        more customers, ease in management
        activities, and more profits. Our team with
        excellent knowledge of technologies brings
        your ideas to life. We give our best, push
        technology, and reach the last boundaries to
        get perfection.</p>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4 mb-md-4 mb-5" *ngFor="let item of getWorks">
        <div class="feature-widget text-center p-4 position-relative rounded-custom shadow">
          <div class="p-3 p-md-4 rounded wrapper text-white icon-lg mb-4">
            <img [src]="getBase64Image(item.fa_logo)" alt="WE Design" class="img-fluid" style="max-width:30%">

          </div>
          <div class="widget-text">
            <h3 class="h5">{{item.tittle}}</h3>
            <p class="mb-0">{{item.discription}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section" data-aos="zoom-in-up">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ">
        <h2>Services</h2>
        <p class="lead">We specialize in providing customized software development services for startups, small to
          mid-size and enterprise size businesses..</p>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-6 col-lg-4 services" data-aos="zoom-out" *ngFor="let item of getservice; let i = index" >
          <div class="d-block d-flex" [ngClass]="colors[i % colors.length]" style="height: 200px; margin: 3px;">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="{{item.fa_logo}}"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">{{item.tittle}}
              </h3>
              <p>{{item.discription}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<section class="ftco-section testimony-section bg-info" data-aos="fade-up">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section heading-section-white text-center ">
        <span class="subheading">Testimonies</span>
        <h2>Happy Clients</h2>
      </div>
    </div>

    <owl-carousel-o [options]="customOptionss">
      <ng-template carouselSlide *ngFor="let item of getClient">
        <div style="width: 542.5px; margin-right: 25px;">
          <div class="item">
            <div class="testimonial-single shadow-sm bg-gray-100 rounded-custom p-4" style="height: 300px;">
              <div class="quotation mb-4">
              </div>
              <blockquote class="blockquote testimonial_height ">
                <p>{{item.discription}}</p>
              </blockquote>
              <div class="d-flex justify-content-md-between justify-content-lg-between align-items-center pt-3">
                <div class="media align-items-center">
                  <img [src]="getBase64Image(item.img)" alt="Certification Planner" class="avatar avatar-sm mr-3">
                  <div class="media-body">
                    <h6 class="mb-0">{{item.comName}}</h6>
                    <small>{{item.tittle}}</small>
                  </div>
                </div>
                <div class="client-ratting d-none d-md-block d-lg-block">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0"><span class="icon icon-xs font-small text-warning"><i
                          class="fa fa-star"></i></span></li>
                    <li class="list-inline-item mr-0"><span class="icon icon-xs font-small text-warning"><i
                          class="fa fa-star"></i></span></li>
                    <li class="list-inline-item mr-0"><span class="icon icon-xs font-small text-warning"><i
                          class="fa fa-star"></i></span></li>
                    <li class="list-inline-item mr-0"><span class="icon icon-xs font-small text-warning"><i
                          class="fa fa-star"></i></span></li>
                    <li class="list-inline-item mr-0"><span class="icon icon-xs font-small text-warning"><i
                          class="fa fa-star"></i></span></li>
                  </ul>
                  <span class="font-weight-bold small">5.0 <span class="font-weight-lighter">Out of 5</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>


  </div>
</section>



<!-- <section style="margin: 100px;">

  <owl-carousel-o [options]="customOptions" class="carouseimg">
    <ng-template carouselSlide><img src="../../assets/images/help.png"></ng-template>
    <ng-template carouselSlide><img src="../../assets/images/about.jpg"></ng-template>
    <ng-template carouselSlide><img src="../../assets/images/bg_2.jpg"></ng-template>
    <ng-template carouselSlide><img src="../../assets/images/bg_3.jpg"></ng-template>
    <ng-template carouselSlide><img src="../../assets/images/develop.png"></ng-template>
    <ng-template carouselSlide><img src="../../assets/images/eagle.jpg"></ng-template>
    <ng-template carouselSlide><img src="../../assets/images/work-8.jpg"></ng-template>
    <ng-template carouselSlide><img src="../../assets/images/work-7.jpg"></ng-template>

  </owl-carousel-o>
</section> -->


<app-footer></app-footer>

<script src="js/bootstrap.min.js"></script>